body {
	background: black;
}

* {
	border: 1px dashed red;
	min-height: 10px;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	font-family: "Alfa Slab One", serif;
}

.postcard-header img {
	width: 40px;
	height: 40px;
	margin: 15px;
}

.postcard-header h1 {
	width: 100%;
	margin: 15px;
}

.postcard-body {
	display: flex;
	flex-direction: row;
	font-family: "Rubik", sans-serif;
}

.body-right {
	padding: 15px;
}

.body-left {
	padding: 15px;
}

.no-margin {
	margin-top: 0px;
}

input {
	border: none;
	border-bottom: 1px gray solid;
}

.postcard-footer {
	display: flex;
	justify-content: center;
}

button {
	padding: 10px 20px;
	background-color: #148fcb;
	text-decoration: solid;
	color: white;
	border-radius: 4px;
}
